<div class="container">
  <div class="row">
      <div class="col-xl-12">
          <div class="apply-form-box clearfix">
            <div class="apply-form-box-bg"
            style="background-image: url(assets/front/images/backgrounds/service-style1.jpg);"></div>
                  <div class="apply-form-box__content">
                  <div class="sec-title">
                      <h2>Post your Project &<br> Get Call Back</h2>
                      <div class="sub-title">
                          <p>Fill all the necessary details.</p>
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>
  </div>
